cloudpickle
filelock
fsspec
gym
gym-notices
gym-super-mario-bros
jinja2
markupsafe
mpmath
nes-py
networkx
numpy<2
pillow
pyglet
pytorch-optimizer
setuptools
sympy
torch
torchvision
tqdm
typing-extensions
tensordict
torchrl
rich
matplotlib
